*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    background-color: rgba(210, 235, 235, 0.5);
}
main{
    background-color: rgba(210, 235, 235, 0.5);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: transparent;

    text-transform: uppercase;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    color: rgb(241, 227, 26);
    -webkit-text-stroke: 1px brown;
    top: 80px;
    left: 15%;
    z-index: 2;

}

nav{
    background-color: rgba(210, 235, 235, 0.5);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
}

.nav-bar{
    text-decoration: none;
    margin: 0 5px;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: sticky;


}   
.nav-bar:hover{
    background-color: tomato;
}
.nav-bar:active{
    background-color: green;

}

.banner{
    z-index: -1;
    width: 100%;
    height: 400px;
    display: inline-block;
    animation: banner 6s infinite;
    align-items: center;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
}

@keyframes banner{
    0%, 40%{        
        background-image: url(../img/design1_image1.jpg);
        opacity: 1; 
    }
    41%, 49%{
        opacity: 0.1;
    }
    50%, 90%{
        background-image: url(../img/design1_image2.jpg);
        opacity: 1; 
    }
    91%, 100%{
        opacity: 0.1;
    }

}

.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    /*border: 1px solid black;*/
    text-align: center;
    color: rgb(241, 227, 26);
    -webkit-text-stroke: 1px brown;
    text-transform: uppercase;

}
.titulo>p{
    text-decoration: underline;
    font-weight: bold;

}

.col1{
    width: 25%;
    height: 300px;
    /* border: 1px solid black; */
    display: inline-block;
    
}
.col1>.logo{
    display: inline-block;
    width: 100%;
    height: 300px;
    background-image: url(../img/Logo_Mighty_ducks_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    animation: logo 6s infinite;
    z-index: 1;
}

@keyframes logo {
    from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(359deg);
      }
}


.col2{
    width: 75%;
    /* border: 1px solid black; */
    display: inline-block;
    text-align: start;
    padding: 20px;
    font-size: large;
}
.col2 span{
    font-size: large;
    font-weight: bold;   
}
.col2 p{
    font-size: large;
    margin: 0 0 20px 20px; 
}

 .row {
   display: flex;
   width: 100%;
 }
.table-schedule-september{
    display: flex;
    justify-content: center;
}

 table{
    padding: 15px;
    border-spacing: 1em;
 }
.table-head th{
    padding: 25px;
    align-self: center;
}

.info-schedule{
    display: flex;
    flex-direction: column;
}
.info-schedule>p{
    margin-bottom: 1em;
}
.datos-schedule{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.rules h3{
    margin-bottom: 1em;
}
.rules>span{
    margin-bottom: 1em;
}
.rules>p{
    margin-bottom: 1em;
}
ol p{
    margin-bottom: 1em;
}

.ol-2{
    list-style-type: lower-alpha;
}

.ul-blanca{
    list-style-type: circle;
    margin-left: 40px;
}

 footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: rgb(241, 227, 26);
    -webkit-text-stroke: 1px brown;
    text-transform: uppercase;
    background-color: black;

 }